$main: #0ec7d3;
$secondary: #3c3c3b;

$border_projects: rgba(60,60,59, .3);

$black : #000;
$black_reduce : rgba(0,0,0,0.72);
$picture_filter : rgba(0,0,0,0.5);
$white : #fff;

$mds_1 : #ffbd1d;
$mds_2 : #ff8a22;
$mds_3 : #17e5f5;
$mds_4 : #45a1ff;
$mds_5 : #f74d9d;

$validation : #5cb85c;
$error : #d9534f;